body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  height: 100vh;
  background-color: #F1F2F5;
}

.topnav {
  background-color: white !important;
  border-bottom: 1px solid #ccc;
  line-height: initial !important;
  display: flex;
  flex-direction: column;
  padding: 20px 30px !important;
  height: 120px !important;
}

.sidebar {
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
  background-color: #30313F !important;
  padding: 10px;
}

.content {
  padding: 30px;
}

.input {
  width: 50% !important;
}

.top-input {
  margin-bottom: 20px !important;
}

.avg-time-card-text {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}

.tooltip {
  border: 1px solid black;
  padding: 10px;
  background-color: white;
}

.tooltip-label {
  text-align: center;
  font-weight: bold;
}

.tooltip-text {
  display: flex;
  font-size: 16px;
}

.tooltip-text > span:first-child {
  margin-right: 10px;
}
